.modal-content {
    background: #242323 !important;
}

.modal-header > h1 {
    font-size: 24px;
}

.modal-header  h1, .modal-header button {
    color: white;
}

.form-control {
    background: #161616 !important;
    color: #f0f7ff !important;
}

.modal-body button {
    background: #7e157e;
    padding: 10px;
    border-radius: 5px;
    transition: background .2s ease-in
}

.modal-body button:hover {
    background: #000;
    transition: background .2s ease-in
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}